langchain-text-splitters
langchain-ollama
langchain-community
langchain-core
langchain-chroma
chromadb
langchain-qdrant
qdrant-client
torch
transformers
fastapi
uvicorn[standard]
pydantic
PyYAML
pypdf
python-docx
python-multipart
